{% extends 'base.html' %}
{% block body %}

<section class="container">
    <div>
      <h1>new post</h1>
      <hr>
    <form  action="/posts/{{ user.id }}" role="form" class="form"  method="post">
        <div>
          <p>title</p>
          <input class="form-control" type="text" name='title' placeholder="title" id='title' required>
        </div>
        <div >
          <p>post</p>
          <textarea class="form-control" name="content" rows="5" placeholder="type your post " required></textarea>
        </div>
        <div><button type="submit" class="btn btn-primary"> post </button></div>
      </form>
    </div>
    <br>
    <hr>
    <br>
    <div >
    <h2>my posts</h2><hr>
    <ul>
    {% for u in user.posts %}
    <div >
            <li class="post">
                <h1>{{ u.title }}</h1>
                <small>posted by {{ u.auther.name }} on date {{ u.date }}</small>
                <p>{{ u.content }}</p>
                <a class='btn btn-danger' href='/del_post/{{ u.id }}'>delete</a>
                <a class='btn btn-sm btn-success' href='/edit_post/{{ u.id }}'>edit</a>
            </li>
    </div>
{% endfor %}
        </ul>
        </div>
</section>


{% endblock %}
